/* colors and fonts */

body{
 background: #ececeb;
 color: rgb(50,50,50); 
 font-family: 'Lora', serif;
 font-size: 17px;
}
h1,h2{
	font-family: 'Roboto', serif;
}
h1{ 
 color: #e25822;
 font-weight: 900;
 font-size: 32px;
 }
 h2{
 color: #dd6b4d;
 font-size: 24px;
 font-weight: 500;
 }

a{
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
	color: #3282b8;
	font-weight: bold;
	font-size: 16px;
}
a:hover{
color: #1b2a49
}

#profile{
	width: 100px;
    height: 100px;
    border-radius: 50%;
}

#container{
	margin: 40px auto;
}

.bulles{
 background: white;
 padding: 50px;
 margin: 20px auto ; 
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 border-radius: 5px;
 width: 700px;
 text-align: center;
}

@media (max-width: 960px){
 .bulles {
 	width: 700px; 
 }
}

@media (max-width: 720px){
 .bulles {
 	width: 500px; 
 }
}



@media (max-width: 540px){
 .bulles {
 	width: 300px;
   }
}

.btn-blue{
	background-color: rgb(190,190,190);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;  
}

.btn-blue:hover{
	background-color: rgb(30,30,30);
	color: white;
}

.list-horizontal{
	list-style: none;
	padding-left: 0px 

}

.list-horizontal li{
	display: inline;
	padding: 10px;
}

.list-horizontal i{
	font-size: 50px;
	color: rgb(190,190,190);
}
.list-horizontal i:hover{
	font-size: 50px;
	color: rgb(30,30,30);
}
#introduction p{
	margin-bottom: 40px;
}